body {
           font-size:12pt;
           font-family:verdana;
}

.banner {
            background-color:navy;
            color:white;
            font-family:Arial;
            font-size:30pt;
}
