<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'mystyles.css' %}" />
</head>
<body>
<div class="banner">JOBS</div>
<table style="width:100%;height:800px">
    <tr>
        <td style="width:15%;background-color:#eeeeee" valign="top">
            <a href="/hr/jobs/list">List</a>
            <p/>
            <a href="/hr/jobs/add">Add</a>
            <p/>
            <a href="/hr/jobs/search">Search</a>
        </td>
        <td valign="top">
            {% block body %}
            {% endblock %}
        </td>
    </tr>

</table>

</body>
</html>